application:
  version: '0.0.1'
  name: 'kds-system'
  city: '${CITY_NAME:Москва}'
vaadin:
  launch-browser: true
  productionMode: true
  servlet:
    productionMode: true
  frontend:
    hotdeploy: false
    compatibilityMode: false
server:
  port: ${SERVER_PORT:8000}
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
  health:
    db:
      enabled: true
spring:
  datasource:
    url: ${SQL_URL:jdbc:postgresql://217.18.61.192:5432/kds-spb}
    username: ${SQL_USERNAME:adm}
    password: ${SQL_PASSWORD:12341234s}
    driver-class-name: org.postgresql.Driver
  jpa:
    database: postgresql
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        id:
          new_generator_mappings: false
          optimizer: none
  vaadin:
    servlet-mapping: /vaadin/*
  liquibase:
    enabled: true
    change-log: classpath:/liquibase/db.changelog-master.yaml
